*{
    font-family: montserrat;
    margin: 0;
    padding: 0;
}

.MenuBar{
    display: flex;
    justify-content: center;
}

.menu-tab-select{
    cursor: pointer;
    text-decoration: none;
    color: #585858;
}

.menu-tab-select:hover{
    color: #6F10B4 ;
}

@media screen and (max-width: 991px) {
    .MenuBar{
        display: flex;
        justify-content: start;
        padding-left: 10px;
    }
}

.home-intro{
    vertical-align: center;
    position: relative;
}
/*.hello-box{*/
/*    border-bottom: 3px solid #6F10B4;*/
/*}*/

.home-intro-inter{
    position: absolute;
    top: 47%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.hello-text{
    color: #6F10B4;
    font-weight: bold;
    font-size: 350%;
    border-bottom: 3px solid #585858;
}

.home-description{
    color: #585858;
    font-size: 110%;

}