*{
    font-family: montserrat;
    margin: 0;
    padding: 0;
}

.MenuBar{
    display: flex;
    justify-content: center;
}

.menu-tab-select{
    cursor: pointer;
    text-decoration: none;
    color: #585858;
}

.menu-tab-select:hover{
    color: #6F10B4 ;
}

@media screen and (max-width: 991px) {
    .MenuBar{
        display: flex;
        justify-content: start;
        padding-left: 10px;
    }
}

.home-intro{
    vertical-align: center;
    position: relative;
}
/*.hello-box{*/
/*    border-bottom: 3px solid #6F10B4;*/
/*}*/

.home-intro-inter{
    position: absolute;
    top: 47%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.hello-text{
    color: #6F10B4;
    font-weight: bold;
    font-size: 350%;
    border-bottom: 3px solid #585858;
}

.home-description{
    color: #585858;
    font-size: 110%;

}

/************ Graphics Page **************/

#photos {
    line-height: 0;
    -webkit-column-count: 5;
    -webkit-column-gap:   0px;
    -moz-column-count:    5;
    -moz-column-gap:      0px;
    column-count:         5;
    column-gap:           0px;
    /*display: flex;*/
    align-items: center;
}

.image-map{
    transition:0.3s;
}

.image-map:hover{
    transform: scale(1.027);
    transition: 0.3s;}

#photos img {
    width: 100% !important;
    height: auto !important;
    padding: 5px;
}

@media (max-width: 1200px) {
    #photos {
        -moz-column-count:    4;
        -webkit-column-count: 4;
        column-count:         4;
    }
}
@media (max-width: 1000px) {
    #photos {
        -moz-column-count:    3;
        -webkit-column-count: 3;
        column-count:         3;
    }
}
@media (max-width: 800px) {
    #photos {
        -moz-column-count:    2;
        -webkit-column-count: 2;
        column-count:         2;
    }
}
@media (max-width: 400px) {
    #photos {
        -moz-column-count:    1;
        -webkit-column-count: 1;
        column-count:         1;
    }
}

.abt-tab-col{
    box-shadow:1px 1px 3px #B0B0B0;
    border-radius: 10px;
    transition: 0.2s;
}

.abt-tab-col:hover{
    box-shadow:1px 2px 3px #6F10B4;
    transform: scale(1.01);
    transition: 0.2s;
}

.abt-tab{
    border-bottom: 3px solid #6F10B4;
}

.abt-tab h4 {
    font-weight: bold;
}

.visit-website-btn{
    background-color: white;
    color: #6F10B4;
    border: none;
    border-radius: 20px;
    transition: 0.2s;
    box-shadow:1px 1px 3px #6F10B4;
}

.visit-website-btn a{
    text-decoration: none;
    color: #585858;
}

.visit-website-btn:hover{
    transition: 0.2s;
    background-color: #6F10B4;
    color: white;
}

.visit-website-btn a:hover{
    color: white;
}

.exp-logo{
    display: flex;
    align-items: center;
    justify-content: center;
}

.exp-link{
    transition: 0.2s;
}

.exp-link:hover{
    transform: scale(1.07);
    transition: 0.2s;
}

.iframe-container{
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    height: 0;
}
.iframe-container iframe{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}



/*@media screen and (max-width: 1090px) {*/
/*    .hello-text{*/
/*        font-size: 200%;*/
/*    }*/

/*    .exp-link img {*/
/*        width: 120%;*/
/*    }*/

/*    .home-description{*/
/*        font-size: 90%;*/
/*    }*/
/*}*/


/*@media screen and (max-width: 986px) {*/
/*    .hello-text{*/
/*        font-size: 180%;*/
/*    }*/

/*    .exp-link img {*/
/*        width: 200%;*/
/*    }*/

/*    .home-description{*/
/*        font-size: 90%;*/
/*    }*/

/*    .copy-row{*/
/*        padding-top: 100px;*/
/*    }*/
/*}*/

/*@media screen and (max-width: 854px) {*/
/*    .home-row{*/
/*        padding-top: 50px;*/
/*    }*/
/*}*/

