*{
    font-family: montserrat;
    margin: 0;
    padding: 0;
}

.MenuBar{
    display: flex;
    justify-content: center;
}

.menu-tab-select{
    cursor: pointer;
    text-decoration: none;
    color: #585858;
}

.menu-tab-select:hover{
    color: #6F10B4 ;
}

@media screen and (max-width: 991px) {
    .MenuBar{
        display: flex;
        justify-content: start;
        padding-left: 10px;
    }
}

.home-intro{
    vertical-align: center;
    position: relative;
}
/*.hello-box{*/
/*    border-bottom: 3px solid #6F10B4;*/
/*}*/

.home-intro-inter{
    position: absolute;
    top: 47%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.hello-text{
    color: #6F10B4;
    font-weight: bold;
    font-size: 350%;
    border-bottom: 3px solid #585858;
}

.home-description{
    color: #585858;
    font-size: 110%;

}

/************ Graphics Page **************/

#photos {
    line-height: 0;
    -webkit-column-count: 5;
    -webkit-column-gap:   0px;
    -moz-column-count:    5;
    -moz-column-gap:      0px;
    column-count:         5;
    column-gap:           0px;
    /*display: flex;*/
    align-items: center;
}

.image-map{
    transition:0.3s;
}

.image-map:hover{
    transform: scale(1.027);
    transition: 0.3s;}

#photos img {
    width: 100% !important;
    height: auto !important;
    padding: 5px;
}

@media (max-width: 1200px) {
    #photos {
        -moz-column-count:    4;
        -webkit-column-count: 4;
        column-count:         4;
    }
}
@media (max-width: 1000px) {
    #photos {
        -moz-column-count:    3;
        -webkit-column-count: 3;
        column-count:         3;
    }
}
@media (max-width: 800px) {
    #photos {
        -moz-column-count:    2;
        -webkit-column-count: 2;
        column-count:         2;
    }
}
@media (max-width: 400px) {
    #photos {
        -moz-column-count:    1;
        -webkit-column-count: 1;
        column-count:         1;
    }
}

.abt-tab-col{
    box-shadow:1px 1px 3px #B0B0B0;
    border-radius: 10px;
}

.abt-tab{
    border-bottom: 3px solid #6F10B4;
}

.abt-tab h4 {
    font-weight: bold;
}